@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;
}

.sidebar {
    width: 240px;
    height: calc(100vh);
    background-color: #31cc71;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.sidebar .brand {
    font-size: 1.4rem;
    font-weight: 600;
    height: 64px; 
    display: flex;
    align-items: center;
    padding: 0 2rem; 
    gap: 10px;;
    border-bottom: 2px solid #fff;
}

.sidebar .menu-itens {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.2rem;
    margin-top: 1rem;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}

.sidebar a:hover {
    background-color: #28b864;
}

.header {
    height: 64px; /* mesma altura do brand */
    background-color: #28b864;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem; /* só horizontal */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.content {
    margin-left: 240px;
    padding: 2rem;
    min-height: 100vh;
}
